.wrapper {
    width: 100%;
    height: calc(100vh - $header-h - 2px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
}
