.wrap {
    width: 70vw;
    margin: 20px auto;
}

.content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    height: 200px;
}
