.item {
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding: 8px 12px;
    transition: background-color 0.3s;
    border-radius: 10px;

    &:hover {
        background-color: #1618230d;
    }

    .thumbnail {
        width: 120px;
        min-height: 67px;
        display: block;
        border-radius: 8px;
        background-color: #ebebeb;
        text-align: center;
        line-height: 67px;
    }

    .info {
        margin-left: 12px;
        flex: 1;

        .title {
            font-size: #333;
        }
        .desc {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 4px 0 0;
            color: #666;
        }
        .progress {
            position: relative;
            height: 8px;
            background-color: #ddd;
            border-radius: 4px;
            overflow: hidden;
            margin-top: 8px;

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 46%;
                background-color: #f05123;
                transition: width ease 1s;
            }
        }
    }
}
