.count-wrap {
    background-color: #000;
    width: 100%;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    .count {
        font-size: 70px;
        font-weight: 600;
    }
}
